<!-- <nav class="navbar navbar-default">
	<div class="container">
	  <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">院线电影</a>
	  </div>
	  
	  <div id="navbar" class="collapse navbar-collapse">
		<form class="navbar-form navbar-left" method="get" action="#/books">搜索电影通过title搜索，搜索到后跳转到那个电影详情页
		  <div class="form-group">
			<input type="text" class="form-control" placeholder="搜索电影">
		  </div>
		  <button type="submit" class="btn btn-default">提交</button>
		</form>
		<ul class="nav navbar-nav navbar-right">
		  <li><a href="#/books/add">添加电影</a></li>
		  <li><a href="#/login">退出登录</a></li>
		</ul>
	  </div> /.nav-collapse 
	</div>
  </nav> -->
  <div ng-include="'views/admin/nav.html'"></div>
<div class="container">
	<div class="row">
    <div class="col-md-12">
      <a href="#/books">返回</a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">添加电影</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
            <form ng-submit="addBook()">
              <div class="form-group">
                <label>电影名称</label>
                <input type="text" class="form-control" ng-model="book.title" placeholder="电影名">
              </div>
              <!--记得把mongo里的数据也要删除和改进，或许可以在页面中操作?-->
              <div class="form-group">
                <label>电影类型</label>
                <select ng-model="book.genre" class="form-control">
                  <option value="Suspense">悬疑</option>
                  <option value="Drama">剧情</option>
                  <option value="Romance">浪漫</option>
                  <option value="NonFiction">纪实</option>
                  <option value="Other">其他</option>
                </select>
              </div>
              <div class="form-group">
                <label>导演</label>
                <input type="text" class="form-control" ng-model="book.author" placeholder="导演">
              </div>
              <div class="form-group">
                <label>持有版权院线</label>
                <input type="text" class="form-control" ng-model="book.publisher" placeholder="院线">
              </div>
              <div class="form-group">
                <label>放映厅</label>
                <input type="text" class="form-control" placeholder="放映厅序号">
              </div>
              <div class="form-group">
                <label>时长</label>
                <input type="text" class="form-control" ng-model="book.pages" placeholder="时长">
              </div>
              <div class="form-group">
                <label>简介</label>
                <textarea class="form-control" ng-model="book.description" placeholder="描述"></textarea>
              </div>
              <div class="form-group">
                <label>图片地址</label>
                <input type="text" class="form-control" ng-model="book.image_url" placeholder="图片地址">
              </div>
              <div class="form-group">
                <label>豆瓣网站</label>
                <input type="text" class="form-control" ng-model="book.buy_url" placeholder="详情地址">
              </div>
            
              <button type="submit" class="btn btn-default">提交</button>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>