<link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/examples/signin/signin.css" rel="stylesheet">
<link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/signin/">

    <div class="container">

      <form class="form-signin" ng-submit="login()"  > <!--因为包涵了密码，所以要用post方法，action是在提交表单之后要操作的数据，表单的提交操作的话，到时候让controllers来操作吧--><!--我不知道这里的action是否会报错，用a的话是不会报错的，html还是要学啊-->
        <h2 class="form-signin-heading">请登录</h2>
        <label for="inputEmail" class="sr-only">请输入用户名</label>
        <input type="text" id="inputEmail" class="form-control" ng-model="user.name" placeholder="请输入用户名" required autofocus>
        <label for="inputPassword" class="sr-only">请输入密码</label>
        <input type="password" id="inputPassword" class="form-control" ng-model="user.password" placeholder="请输入密码" required>
        <!-- <label for="inputadmin" class="sr-only">是否为管理员</label>
        <input type="text" id="inputadmin" class="form-control" ng-model="user.admin" placeholder="true or false" required> -->
        <!-- <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="user.admin" value="remember-me"> 是否为管理员
          </label>
        </div> -->
          <button class="btn btn-lg btn-primary btn-block"  type="submit">登录</button>
          <a class="btn btn-lg btn-primary btn-block"  type="button" href='#/register'>还没有账号？去注册</a>  
          <!-- <a class="btn btn-lg btn-primary btn-block"  type="button" href='#/books'>登录</a> -->
      </form>

    </div>
